<p>It is to inform you that tomorrow has an interview schedule. See the details
  mentioned below..</p>

<p> developer name :- {{developerName}} </p>
<p> date :- {{onDate}} </p>
<p> time :- {{onTime}} </p>
<p> meet link :- {{meetLink}} </p>

<p>Regards,</p>
<p>Team SourceBae</p>