<p>Interview has been scheduled, thank you for showing your interest</p>

<p> developer name :- {{developerName}} </p>
<p> date :- {{onDate}} </p>
<p> time :- {{onTime}} </p>
<p> meet link :- {{meetLink}} </p>

<p>Regards,</p>
<p>Team SourceBae</p>